Week 1/example.zip
Week 1/example/assignment.sbt
Week 1/example/build.sbt
Week 1/example/project/build.properties
Week 1/example/project/buildSettings.sbt
Week 1/example/project/plugins.sbt
Week 1/example/project/project/
Week 1/example/project/target/
Week 1/example/target/
Week 1/recfun.zip
Week 1/recfun/assignment.sbt
Week 1/recfun/build.sbt
Week 1/recfun/project/build.properties
Week 1/recfun/project/buildSettings.sbt
Week 1/recfun/project/plugins.sbt
Week 1/recfun/project/project/
Week 1/recfun/project/target/
Week 1/recfun/target/
Week 2/funsets.zip
Week 2/funsets/assignment.sbt
Week 2/funsets/build.sbt
Week 2/funsets/project/
Week 2/funsets/target/
Week 3/objsets.zip
Week 3/objsets/assignment.sbt
Week 3/objsets/build.sbt
Week 3/objsets/project/
Week 3/objsets/target/
Week 4/patmat.zip
Week 4/patmat/assignment.sbt
Week 4/patmat/build.sbt
Week 4/patmat/project/
Week 4/patmat/target/

